// add your custom styles here
// to learn more about SASS, visit sass-lang.com
html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #6c6f73;
}

h1, h2, h3, h4, h5{
  color: #333;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

#stage {
  background: url('../../img/stage.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-dark {
  background: #262F36;
  color: white;
}

.feature-alt {
  background-color: #f0f0f0;
}

.feature-dark h2 {
  color: white;
}

.feature-content img {
  margin-bottom: -8rem;
}

#feature-three img {
  width: 100%;
}

#feature-four .feature-content {
  padding: 0;
}

#feature-five img {
  width: 100%;
  margin-top: 2rem;
}

#feature-six img {
  width: 100%;
}

#main-footer {
  background: #262f36;
  color: white;
  padding: 6rem 0;
  font-size: 0.8rem;
}

#main-footer h6 {
  color: #718fa9;
}

#main-footer a {
  color: #6c6573;
}


/*media queries*/
@media screen and ( min-width : 991px ) {
  .feature-content {
    display: flex;
    align-items: center;
  }
}
